a.navbar-brand {
    display: block;
}

.navbar-logotipo {
    width: 4.45rem;
}

.navbar-toggler-icon {
    color: $white;
}

.nav-item {
    margin: 15px;
    .nav-link {
        color: $white !important;
        font-size: 1.15rem;
    }
}

.navbar-background {
    background-color: $blue-dark;
}

.wallpaper {
    top: 0px;
    background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover;
    background-position: center 0;
    min-height: 100vh;
    padding-top: 220px;
}

.wallpaper-opacity {
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 0.45;
}

.wallpaper-caption {
    position: absolute;
    top: 45%;
    margin-left: 18%;
    width: 60%;
    color: $white;
    z-index: 1;
}

@media only screen and (max-width: 640px) {
    .wallpaper-caption {
        position: absolute;
        top: 40%;
        margin-left: 7%;
        width: 80%;
        color: $white;
        z-index: 1;
    }
}

.wallpaper-caption>h1 {
    font-size: 2rem;
}

.wallpaper-caption>h3 {
    font-size: 1.2rem;
}

.wallpaper-caption>p {
    margin-top: 5%;
    font-size: 0.9rem;
}

.btn-wallpaper {
    background-color: transparent;
    border-color: $white;
    color: $white;
}

.solutions {
    @include base_solution($gray,
    $blue-dark);
}

.col-solution-caption {
    margin-top: 65px;
}

.solution-title {
    font-size: 1.8rem;
    text-align: center;
    color: $blue;
}

.row-solution-item {
    padding-top: 5rem;
}

.solution-caption-item {
    @include base_solution_caption_item(1rm,
    $orange)
}

.solution-image-item {
    width: 100%;
    box-shadow: 0px 0px 10px 0px;
}