*{
    font-family: 'Montserrat','Lucida Grande', 'Lucida Sans', Arial, Sans-serif;
}

.menu-logotipo {
    width: 3.5rem;
}
.nav-item {
    .nav-link{
        color: $blue-dark !important;
        font-size: 0.85rem;
    }
}

.bg-image{
    background-image: url("img/bg1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}
