// Default color definition
$blue-dark: #10316B !default;
$blue: #0b409c !default;
$blue-alpha: #0275d8 !default;
$orange: #F97300 !default;
$yellow: #fdbe34 !default;
$white: #F2F7FF !default;
$font-family-caption: 'Muli'